<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app/app.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body ng-app="politica">
    <div class="container" ng-controller="MainController as mainCtrl">

      <!-- Data selector -->
      <div class="row">
        <div class="col-md-3 pull-rigth" ng-init="mainCtrl.active = 'both'">
          <!-- Both button -->
          <button type="button" class="btn"
                  ng-class="{ true: 'btn-success', false : 'btn-default'}[mainCtrl.active == 'both']"
                  ng-click="mainCtrl.active = 'both'">Ambos</button>
          <!-- Facebook button -->
          <button type="button" class="btn"
                  ng-class="{ true: 'btn-success', false : 'btn-default'}[mainCtrl.active == 'fb']"
                  ng-click="mainCtrl.active = 'fb'">Facebook</button>
          <!-- Twitter button -->
          <button type="button" class="btn"
                  ng-class="{ true: 'btn-success', false : 'btn-default'}[mainCtrl.active == 'twtr']"
                  ng-click="mainCtrl.active = 'twtr'">Twitter</button>
        </div>
      </div>
      <!-- End of data selector -->

      <!-- Data display -->
      <div class="row">
        <div class=" col-md-6 col-md-push-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              From {{ mainCtrl.current.provider | uppercase }}
            </div>
            <div class="panel-content">
                <p ng-bind-html="mainCtrl.current.content"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of data display -->

      <!-- Category options -->
      <div class="row text-center">
        <button type="button" class="btn btn-{{category.class}}"
                ng-repeat="category in mainCtrl.categories"
                ng-click="mainCtrl.selectOption(category)">{{ category.name }}</button>
        <p>Pueden usar a-s-d-f-g como hot keys para las categorias</p>
      </div>
      <!-- End of category options -->

    </div>
  </body>
</html>
