<div class="row">
	<div class="col-md-offset-1 col-md-10 col-md-offset-1">
		<div class="row box-main">
			<div class="col-md-12 box-inner" ng-init="init()">
				<div class="row">
					<div class="about-margin">
						<center>
							<p class="font-about-lg">Somos un grupo de jóvenes Bogotanos que ya no creemos sólo en lo que dicen las encuestas. No tenemos ninguna filiación política ni estamos tomando partido por nadie.</p>
							<p class="font-about-lg">— Mostramos los datos como son —</p>
						</center>
					</div>
					<p class="font-about about-margin-lg">Por esto recurrimos a Twitter, para buscar la opinión de la gente en tiempo real. Desarrollamos una aplicación que nos permite obtener los tweets generados por los usuarios, al obtener un tweet se realiza un pre procesamiento en el cual se analizan las palabras, se eliminan los hashtags, las urls y las menciones a otros usuarios. Después de esto, se realiza una clasificación del tweet (positivo, neutral o negativo) de acuerdo a su contenido.</p>
					<p class="font-about about-margin-lg">Esta clasificación se realiza por medio de un modelo de Machine Learning que fue entrenado con 3000 tweets. El entrenamiento consiste en generar un modelo que se va ajustando a los datos que van llegando. Después de clasificar el tweet se actualizan las estadísticas de la aplicación y de los candidatos mencionados en el tweet.</p>
					<p class="font-about about-margin-lg">La gráfica de <b>Polaridad</b> presenta el sentiemiento positivo y negativo asociado a cada uno de los candidatos. Se puede pensar que entre más tweets positivos tiene un candidato mejor es su imagen en la red social. Así mismo, entre más tweets negativos tiene, su imagen es más desfavorable.</p>
					<p class="font-about about-margin-lg">La gráfica de <b>Tendencia</b> muestra todos los tweets asociados a cada uno de los candidatos en los últimos treinta días. Se puede pensar que entre más tweets tiene un candidato mayor es su popularidad en la red social.</p>
					<p class="font-about about-margin-lg">El <b>CloudTag</b> presenta las palabras más repetidas o comunes en los tweets de cada uno de los candidatos. No se presentan todas las palabras debido a que hay palabras muy comunes que no reflejan la opinión de la gente. Los colores de las palabras presentan el parido político o movimiento ciudadano al que de los candidatos.</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p class="font-about about-margin-lg">No Creo es un proyecto en continuo desarrollo. Tu opinión es bienvenida y te invitamos a escribirnos:</p>
            <div class="font-about confirmation-message" ng-show="showConfirmationBox">
              <p><center>Tu mensaje ha sido enviado correctamente</center></p>
              <p><center>¡Gracias por compartir tu opinión con nostros!</center></p>
            </div>
					</div>
					<div class="col-md-6 input-align">
						<input class="about-input" placeholder="Nombre" ng-model="contactForm.name">
						<input class="about-input" placeholder="Correo" ng-model="contactForm.email">
						<textarea class="about-input textarea-height" placeholder="Mensaje" ng-model="contactForm.message"></textarea>
						<div class="about-rectangle" ng-click="sendEmail(contactForm)" analytics-on  analytics-category="Click"><center>ENVIAR</center></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
