<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div id="polarity" class="box-main">
      <div class="box-inner" ng-include="'views/polarity.html'"></div>
    </div>
    <div id="score" class="box-main">
      <div class="box-inner" ng-include="'views/score.html'"></div>
    </div>
    <div id="cloudtag" class="box-main">
      <div class="box-inner" ng-include="'views/cloudtag.html'"></div>
    </div>
    <!--
      <div ng-include="'views/candidates.html'"></div>
    -->
  </div>
</div>
