<div class="row">
  <div class="col-md-12">
    <div id="go-back-rectangle" class="black-area">
      <a class="link-white glyphicon glyphicon-chevron-left" ui-sref="home">Ver todos los candidatos</a>
    </div>
  </div>
  <div class="col-md-5">
    <div id="candidate-square" ng-style="{ 'background-color' : getCandidateColor(candidate.screenName) }">
      <div id="candidate-rectangle" class="black-area">
        <b class="candidate-name">{{ getTargetName(candidate.screenName) }}</b><br>
        <a class="link-white"><small>@{{ candidate.screenName }}</small></a>
      </div>
    </div>
  </div>
  <div class="col-md-7 padding-top-xlg">
    <div class="stat-item">
      <div class="col-md-1">
        <i class="fa fa-twitter fa-3x"></i>
      </div>
      <div class="col-md-11 padding-left-lg">
        <small class="sm-text">Tweets totales desde el 31/07/2015:</small><br>
        <b class="lg-text">{{tweetStats.totalTweets}}</b>
      </div>
    </div>
    <div class="stat-item">
      <div class="col-md-1">
        <i class="fa fa-twitter fa-3x"></i>
      </div>
      <div class="col-md-11 padding-left-lg">
        <small class="sm-text">Tweets por día:</small><br>
        <b class="lg-text">{{tweetStats.tweetsToday}}</b>
      </div>
    </div>
    <div class="stat-item">
      <div class="col-md-1">
        <i class="fa fa-twitter fa-3x"></i>
      </div>
      <div class="col-md-11 padding-left-lg">
        <small class="sm-text">Tweets por hora:</small><br>
        <b class="lg-text">{{tweetStats.tweetsLastHour}}</b>
      </div>
    </div>
  </div>
</div>
