<div class="row">
  <div class="col-md-12">
    <ul class="collection with-header">
      <li class="collection-header">
      <h6><b>{{candidate.screenName}}</b>
        <a class="link-blue" target="blank" href="http://twitter.com/{{candidate.twitterId.id}}">@{{candidate.twitterId.id}}</a>
      </h6>
      </li>
      <li class="collection-item" ng-repeat="tw in candidate.tweets | orderBy:'-timestamp_ms'">
      <h6>
        <span class="label" ng-class="{'label-danger' : tw.polarity == -1, 'label-success' : tw.polarity == 1, 'label-default' : tw.polarity==0}">
          <span ng-if="tw.polarity == -1">Negativo</span>
          <span ng-if="tw.polarity == 1">Positivo</span>
          <span ng-if="tw.polarity == 0">Neutro</span>
        </span>
      </h6>
      <p class="text-sm">{{tw.text}}</p>
      <div class="padding-right-sm inline"><small>{{tw.timestamp_ms | date:'dd-MM-yyyy HH:mm:ss'}}</small></div>
      </li>
    </ul>
  </div>
</div>
