<div class="row">
  <div class="col-md-12">
    <ul class="col-md-4 list-group-candidate" ng-repeat="tw in candidate.tweets | orderBy:'-timestamp_ms'">
        <li class="list-group-item height-lg tweet-content-candidate squared-box">
            <p class="text-sm">{{tw.text}}</p>
            <div class="padding-right-sm inline time-label"><small>{{tw.timestamp_ms | date:'dd-MM-yyyy HH:mm:ss'}}</small></div>
            <div class="padding-right-sm label text-sm to-right tweet-sentiment squared-box" ng-class="getTweetLabelClass(tw.prediction)">
              <span>{{ getTweetLabelText(tw.prediction) }}</span>
            </div>
        </li>
      </ul>
  </div>
</div>
