<div class="row">
  <div class="col-md-12">
    <div id="go-back-rectangle" class="black-area glyphicon glyphicon-chevron-left">
      <a ui-sref="home">Ver todos los candidatos</a>
    </div>
  </div>
  <div class="col-md-5">
    <div id="candidate-square">
      <div id="candidate-rectangle" class="black-area">
        {{ candidate.name }}
      </div>
    </div>
  </div>
  <div class="col-md-7">
  </div>
  <div class="stat-item">
    <h3>
      <i class="fa fa-twitter fa-3"></i>
      Menciones de campaña<small>{{tweetStats.totalTweets}}</small>
    </h3>
  </div>
  <div class="stat-item">
    <h3>
      <i class="fa fa-twitter fa-3"></i>
      Menciones hoy<small>{{tweetStats.tweetsToday}}</small>
    </h3>
  </div>
  <div class="stat-item">
    <h3>
      <i class="fa fa-twitter fa-3"></i>
      Menciones en la última hora<small>{{tweetStats.tweetsLastHour}}</small>
    </h3>
  </div>
</div>
