<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="row box-main">
      <div class="col-md-12 box-inner" ng-controller="candidateTweetsController" ng-init="init()">
        <div class="col-md-12" ng-include="'views/candidate.info.html'"></div>
        <div class="col-md-5" ng-include="'views/candidate.tweets.html'"></div>
        <div class="col-md-7" ng-controller="candidateCloudtagController" ng-init="init()" 
          ng-include="'views/candidate.cloudtag.html'"></div>
      </div>
    </div>
  </div>
</div>
