<div class="ngdialog-message">
	<h5 class="dark-blue"></h5>
	<div class="row">
		<div class="col-lg-3">
			<img id="logo-img" class="img-responsive" src="../images/nocreo_black.svg">    	
		</div>
		<div class="col-lg-9">
			<p>Somos un grupo de jóvenes Bogotanos que ya no creemos en sólo lo que dicen las encuestas. <br> No tenemos ninguna filiación política ni estamos tomando partido por nadie.</p>
			<p class="pull-right">— Mostramos los datos como son —</p>
		</div>
	</div>
	<div class="row">
		Por esto, recurrimos a twitter para buscar la opinión de la gente en tiempo real. Desarrollamos una aplicación que nos permite tomar los tweets de las personas y analizarlos según las palabras que contienen.<p/>
		<p>Si quieres conocer más acerca de la app revisa: Cómo lo hacemos.</p>
		<p>Por el momento, te mostramos como van los candidatos.</p>
	</div>
	<div class="initial-dialog-rectangle"><center>VER LA INFORMACIÓN</center></div>
</div>