<div ng-controller="polarityController" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <div ng-class="{ 'full-message-box': boxIsFull, 'min-message-box': !boxIsFull }">
        <p class="white-text text-md2 padding-top-lg col-md-12" ng-show="boxIsFull">
        La gráfica de Polaridad presenta el sentimiento (positivo/negativo) asociado a cada candidato. Este sentimiento se calcula a partir de las palabras utilizadas por los usuarios en sus tweets.
        </p>
        <div class="hide-box">
          <button class="btn btn-link fa white-text text-md no-change-link" ng-class="{ 'fa-chevron-up': boxIsFull, 'fa-chevron-down': !boxIsFull }" ng-click="changeMessageBoxState()"> {{ showOrHide }}</button>
        </div>
      </div>
      <div class="chart-options">
        <button type="button" class="btn btn-outline" ng-click="showAllCandidates()">Todos</button>
        <button type="button" class="btn btn-outline" ng-click="showPopularCandidatesOnly()">Populares</button>
      </div>
      <div id="polarityChart">
      </div>
    </div>
  </div>
</div>
