<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="row box-main">
      <div class="col-md-12 box-inner" ng-controller="polarityTweetsController" ng-init="init()">
        <div id="polarity-info" class="col-md-12" ng-include="'views/polarity.info.html'"></div>
        <div class="col-md-12" ng-include="'views/polarity.tweets.html'"></div>
      </div>
      <div class="row">
        <center> 
          *Las tablas y tweets presentados son dinámicos y se van actualizando a medida que van entrando nuevos datos.
        </center>
      </div>
    </div>
  </div>
</div>
