<div ng-controller="scoreController" ng-init="init()">
  <div class="row">
    <div class="col-md-12">
      <div ng-class="{ 'full-message-box': boxIsFull, 'min-message-box': !boxIsFull }">
        <p class="white-text text-md2 padding-top-lg col-md-12" ng-show="boxIsFull">
        La gráfica de Tendencia muestra todos los tweets asociados a cada uno de los candidatos en los últimos treinta días.
        </p>
        <div class="hide-box">
          <button class="btn btn-link fa white-text text-md no-change-link capitalize" ng-class="{ 'fa-chevron-up': boxIsFull, 'fa-chevron-down': !boxIsFull }" ng-click="changeMessageBoxState()"> {{ showOrHide }}</button>
        </div>
      </div>
      <div class="chart-options">
        <button type="button" class="btn btn-outline" ng-click="showAllCandidates()">Todos</button>
        <button type="button" class="btn btn-outline" ng-click="showPopularCandidatesOnly()">Populares</button>
      </div>
      <div id="scoreChart">
      </div>
    </div>
  </div>
</div>
