<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="row box-main">
      <div class="col-md-12 box-inner">
        <div class="row">
          <center>
            <div class="header-div">
              <h1>Por favor selecciona tu ciudad</h1>
            </div>
            <div class="options-div">
              <div class="col-md-6 margin-md">
                <a class="main-link black-background white-link" ui-sref="city({ cityId: 'bogota' })">Bogotá</a>
              </div>
              <div class="col-md-6">
                <a class="main-link black-background white-link" ui-sref="city({ cityId: 'medellin' })">Medellín</a>
              </div>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
