html {
  font-family: "Open Sans";
}

body {
  background-image: url("../images/fondo_nocreo_small.svg");
}

.box-main {
  z-index: 0;
  opacity: 0.7;
  background-color: #FFF;
  padding: 16px;
  margin: 10px;
}

.box-inner {
  z-index: 5;
  background-color: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #221F1F;
}

#menu-bar {
  opacity: 0.7;
  height: 100px;
}

#main-container {
  margin-top: 87px;
}

.margin-top-md {
  margin-top: 36px;
}

.footer {
  height: 87px;
  color: #E6E6E6;
  background-color: #929497;

}

#candidate-square {
  margin: 5px;
  width: 245px; 
  height: 245px;
  background: red;
}

#candidate-rectangle {
  width: 195px;
  height: 115px;
  background: black;
  position: relative;
  top: 71px;
  left: 140px;
}

#go-back-rectangle {
  float: right;
  width: 195px;
  height: 45px;
  background: black;
  position: relative;
}

.black-area {
  color: #FFF;
  font-size: 18px;
}

.height-lg {
  height: 180px;
}

.list-group {
  padding-left: 15px;
}

.list-title {

  background-color: #221F1F;
  color: #FFF;
  font-size: 16px;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
  margin: 0;
}

.link-white {
  text-decoration: none;
  color: #FFF;
}

.line-height-sm {
  line-height: 15px;
  margin: 0;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 14px;
}

.to-right {
  float: right;
}

.chart-title {
  padding-left: 10px;
}

.label-warning {
  background-color: #F5E6A8;
  color: #ADAA4D;
}

.label-danger {
  background-color: #F4A8AF;
  color: #EB3E54;
}

.label-success {
  background-color: #BDDA9B;
  color: #739E4D;
}

.full-message-box {
  width: 300px;
  height: 150px;
  background: black;
  top: 0px;
  right: 15px;
  float: right;
  position: absolute;
  z-index: 1;
}

.min-message-box {
  width: 300px;
  height: 40px;
  background: black;
  top: 0px;
  right: 15px;
  float: right;
  position: absolute;
  z-index: 1;
}

.hide-box {
  position: absolute;
  right: 0px;
  bottom: 5px;
}

.white-text {
  color: white;
}

.padding-top-lg {
  padding-top: 20px;
}

.btn-link:hover, .btn-link:focus {
    color: #FFF;
    text-decoration: underline;
    background-color: transparent;
}

/* charts styles */

.node {
  border: solid 1px white;
  font: 14px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-align: center;
  text-anchor: middle;
}
