/* Extras */

html {
  font-family: "Open Sans";
}

body {
  background-color: rgb(211, 211, 213);
}

.box-main {
  z-index: 0;
  opacity: 0.8;
  background-color: #FFF;
  padding: 16px;
  margin: 10px;
}

.box-inner {
  z-index: 5;
  background-color: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #221F1F;
}

#menu-bar {
  opacity: 0.7;
  height: 100px;
}

#main-container {
  margin-top: 87px;
}

.margin-top-md {
  margin-top: 36px;
}

.footer {
  height: 87px;
  color: #E6E6E6;
  background-color: #929497;

}

/* charts styles */

.node {
  border: solid 1px white;
  font: 14px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-align: center;
  text-anchor: middle;
}
